<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title shop
        link(rel="stylesheet", href="/css/main.css")
        
    body
        header
            nav
                ul
                    li
                        a.active(href="admin/add-product") Add products
                    li
                        a.active(href="/") Shop
        main
            if prods.length<0
                h1 My Products
                p.shop_title  List of product                     
            else 
                each product in prods
                    p.shop_title  List of product
                    p1 #{product.title} 