<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title shop
        link(rel="stylesheet", href="/css/main.css")
        
    body
        header
            nav
                ul
                    li
                        a.active(href="/") Shop
                    li
                        a.active(href="/") Products
                    li
                        a.active(href="/") Cart
                    li
                        a.active(href="admin/add-product") Add Product
                    li
                        a.active(href="/") Admin Product           
        main
            p.shop_title  Product details
             